/* ---------- COLORS AND FONTS ---------- */

:root {
    --color-a: #f0287f;
    --color-as: #f02de3;
    --color-b: #9b31f1;
    --color-c: #563dff;
    --color-cs: #00abff;
    --color-d: #3decf2;
    --color-ds: #41f29f;
    --color-e: #46f348;
    --color-f: #9bf349;
    --color-fs: #f1f44e;
    --color-g: #f4a351;
    --color-gs: #f55656;
    --color-am: #ff6fad;
    --color-asm: #ff6ff5;
    --color-bm: #c174ff;
    --color-cm: #7872ff;
    --color-csm: #5cc9ff;
    --color-dm: #8cfbff;
    --color-dsm: #7effc2;
    --color-em: #87ff89;
    --color-fm: #c4ff8d;
    --color-fsm: #fdff8a;
    --color-gm: #ffc68c;
    --color-gsm: #ff8c8c;
    --color-bg: #121212;
    --color-bg-2: #171717;
    --color-bg-3: #202020;
    --color-font: #ffffff;
    --color-border: #ffffff;
    /* Overwrite Bootstrap default body font family */
    --bs-body-font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: var(--color-bg);
}

p,
h1,
h2,
h3,
.accordion-item {
    color: var(--color-font);
    font-family: Quicksand, Roboto, Arial, sans-serif;
}

h3 {
    font-size: 1.2rem;
}

a,
a:hover {
    font-weight: bold;
    color: var(--color-font);
}

/* ---------- WELCOME SECTION STYLES ---------- */

.welcome-box {
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: var(--color-bg-2);
}

.btn-outline-toggle {
    color: var(--color-font);
    border-color: var(--color-border);
}

.btn-outline-toggle:hover {
    color: #000;
    background-color: #ffffff;
    border-color: var(--color-border);
}

.card {
    background-color: var(--color-bg-3);
    border-radius: 10px;
}

.tutorial-img {
    width: 80%;
    margin: auto;
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

/* ---------- CHORD DIAGRAM SECTION STYLES ---------- */

.chord-a {
    color: var(--color-a);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-am {
    color: var(--color-am);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-c {
    color: var(--color-c);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-d {
    color: var(--color-d);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-dm {
    color: var(--color-dm);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-e {
    color: var(--color-e);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-em {
    color: var(--color-em);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-f {
    color: var(--color-f);
    font-weight: bold;
    font-size: 1.2rem;
}

.chord-g {
    color: var(--color-g);
    font-weight: bold;
    font-size: 1.2rem;
}

/* ---------- APP BUTTON STYLES ---------- */

.chord-btn {
    font-weight: bold;
    font-size: 1.2rem;
    border-width: 2px;
    width: 100%;
    padding: .375rem .5rem;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(200, 200, 200, .25);
}

.btn-check:disabled+.btn,
.btn-check[disabled]+.btn {
    opacity: .35;
}

.btn-outline-a {
    color: var(--color-a);
    border-color: var(--color-a);
}

.btn-check:active+.btn-outline-a,
.btn-check:checked+.btn-outline-a,
.btn-outline-a.active,
.btn-outline-a:active,
.btn-outline-a:hover {
    color: var(--color-bg);
    background-color: var(--color-a);
    border-color: var(--color-a);
}

.btn-outline-as {
    color: var(--color-as);
    border-color: var(--color-as);
}

.btn-check:active+.btn-outline-as,
.btn-check:checked+.btn-outline-as,
.btn-outline-as.active,
.btn-outline-as:active,
.btn-outline-as:hover {
    color: var(--color-bg);
    background-color: var(--color-as);
    border-color: var(--color-as);
}

.btn-outline-b {
    color: var(--color-b);
    border-color: var(--color-b);
}

.btn-check:active+.btn-outline-b,
.btn-check:checked+.btn-outline-b,
.btn-outline-b.active,
.btn-outline-b:active,
.btn-outline-b:hover {
    color: var(--color-bg);
    background-color: var(--color-b);
    border-color: var(--color-b);
}

.btn-outline-c {
    color: var(--color-c);
    border-color: var(--color-c);
}

.btn-check:active+.btn-outline-c,
.btn-check:checked+.btn-outline-c,
.btn-outline-c.active,
.btn-outline-c:active,
.btn-outline-c:hover {
    color: var(--color-bg);
    background-color: var(--color-c);
    border-color: var(--color-c);
}

.btn-outline-cs {
    color: var(--color-cs);
    border-color: var(--color-cs);
}

.btn-check:active+.btn-outline-cs,
.btn-check:checked+.btn-outline-cs,
.btn-outline-cs.active,
.btn-outline-cs:active,
.btn-outline-cs:hover {
    color: var(--color-bg);
    background-color: var(--color-cs);
    border-color: var(--color-cs);
}

.btn-outline-d {
    color: var(--color-d);
    border-color: var(--color-d);
}

.btn-check:active+.btn-outline-d,
.btn-check:checked+.btn-outline-d,
.btn-outline-d.active,
.btn-outline-d:active,
.btn-outline-d:hover {
    color: var(--color-bg);
    background-color: var(--color-d);
    border-color: var(--color-d);
}

.btn-outline-ds {
    color: var(--color-ds);
    border-color: var(--color-ds);
}

.btn-check:active+.btn-outline-ds,
.btn-check:checked+.btn-outline-ds,
.btn-outline-ds.active,
.btn-outline-ds:active,
.btn-outline-ds:hover {
    color: var(--color-bg);
    background-color: var(--color-ds);
    border-color: var(--color-ds);
}

.btn-outline-e {
    color: var(--color-e);
    border-color: var(--color-e);
}

.btn-check:active+.btn-outline-e,
.btn-check:checked+.btn-outline-e,
.btn-outline-e.active,
.btn-outline-e:active,
.btn-outline-e:hover {
    color: var(--color-bg);
    background-color: var(--color-e);
    border-color: var(--color-e);
}

.btn-outline-f {
    color: var(--color-f);
    border-color: var(--color-f);
}

.btn-check:active+.btn-outline-f,
.btn-check:checked+.btn-outline-f,
.btn-outline-f.active,
.btn-outline-f:active,
.btn-outline-f:hover {
    color: var(--color-bg);
    background-color: var(--color-f);
    border-color: var(--color-f);
}

.btn-outline-fs {
    color: var(--color-fs);
    border-color: var(--color-fs);
}

.btn-check:active+.btn-outline-fs,
.btn-check:checked+.btn-outline-fs,
.btn-outline-fs.active,
.btn-outline-fs:active,
.btn-outline-fs:hover {
    color: var(--color-bg);
    background-color: var(--color-fs);
    border-color: var(--color-fs);
}

.btn-outline-g {
    color: var(--color-g);
    border-color: var(--color-g);
}

.btn-check:active+.btn-outline-g,
.btn-check:checked+.btn-outline-g,
.btn-outline-g.active,
.btn-outline-g:active,
.btn-outline-g:hover {
    color: var(--color-bg);
    background-color: var(--color-g);
    border-color: var(--color-g);
}

.btn-outline-gs {
    color: var(--color-gs);
    border-color: var(--color-gs);
}

.btn-check:active+.btn-outline-gs,
.btn-check:checked+.btn-outline-gs,
.btn-outline-gs.active,
.btn-outline-gs:active,
.btn-outline-gs:hover {
    color: var(--color-bg);
    background-color: var(--color-gs);
    border-color: var(--color-gs);
}

.btn-outline-am {
    color: var(--color-am);
    border-color: var(--color-am);
}

.btn-check:active+.btn-outline-am,
.btn-check:checked+.btn-outline-am,
.btn-outline-am.active,
.btn-outline-am:active,
.btn-outline-am:hover {
    color: var(--color-bg);
    background-color: var(--color-am);
    border-color: var(--color-am);
}

.btn-outline-asm {
    color: var(--color-asm);
    border-color: var(--color-asm);
}

.btn-check:active+.btn-outline-asm,
.btn-check:checked+.btn-outline-asm,
.btn-outline-asm.active,
.btn-outline-asm:active,
.btn-outline-asm:hover {
    color: var(--color-bg);
    background-color: var(--color-asm);
    border-color: var(--color-asm);
}

.btn-outline-bm {
    color: var(--color-bm);
    border-color: var(--color-bm);
}

.btn-check:active+.btn-outline-bm,
.btn-check:checked+.btn-outline-bm,
.btn-outline-bm.active,
.btn-outline-bm:active,
.btn-outline-bm:hover {
    color: var(--color-bg);
    background-color: var(--color-bm);
    border-color: var(--color-bm);
}

.btn-outline-cm {
    color: var(--color-cm);
    border-color: var(--color-cm);
}

.btn-check:active+.btn-outline-cm,
.btn-check:checked+.btn-outline-cm,
.btn-outline-cm.active,
.btn-outline-cm:active,
.btn-outline-cm:hover {
    color: var(--color-bg);
    background-color: var(--color-cm);
    border-color: var(--color-cm);
}

.btn-outline-csm {
    color: var(--color-csm);
    border-color: var(--color-csm);
}

.btn-check:active+.btn-outline-csm,
.btn-check:checked+.btn-outline-csm,
.btn-outline-csm.active,
.btn-outline-csm:active,
.btn-outline-csm:hover {
    color: var(--color-bg);
    background-color: var(--color-csm);
    border-color: var(--color-csm);
}

.btn-outline-dm {
    color: var(--color-dm);
    border-color: var(--color-dm);
}

.btn-check:active+.btn-outline-dm,
.btn-check:checked+.btn-outline-dm,
.btn-outline-dm.active,
.btn-outline-dm:active,
.btn-outline-dm:hover {
    color: var(--color-bg);
    background-color: var(--color-dm);
    border-color: var(--color-dm);
}

.btn-outline-dsm {
    color: var(--color-dsm);
    border-color: var(--color-dsm);
}

.btn-check:active+.btn-outline-dsm,
.btn-check:checked+.btn-outline-dsm,
.btn-outline-dsm.active,
.btn-outline-dsm:active,
.btn-outline-dsm:hover {
    color: var(--color-bg);
    background-color: var(--color-dsm);
    border-color: var(--color-dsm);
}

.btn-outline-em {
    color: var(--color-em);
    border-color: var(--color-em);
}

.btn-check:active+.btn-outline-em,
.btn-check:checked+.btn-outline-em,
.btn-outline-em.active,
.btn-outline-em:active,
.btn-outline-em:hover {
    color: var(--color-bg);
    background-color: var(--color-em);
    border-color: var(--color-em);
}

.btn-outline-fm {
    color: var(--color-fm);
    border-color: var(--color-fm);
}

.btn-check:active+.btn-outline-fm,
.btn-check:checked+.btn-outline-fm,
.btn-outline-fm.active,
.btn-outline-fm:active,
.btn-outline-fm:hover {
    color: var(--color-bg);
    background-color: var(--color-fm);
    border-color: var(--color-fm);
}

.btn-outline-fsm {
    color: var(--color-fsm);
    border-color: var(--color-fsm);
}

.btn-check:active+.btn-outline-fsm,
.btn-check:checked+.btn-outline-fsm,
.btn-outline-fsm.active,
.btn-outline-fsm:active,
.btn-outline-fsm:hover {
    color: var(--color-bg);
    background-color: var(--color-fsm);
    border-color: var(--color-fsm);
}

.btn-outline-gm {
    color: var(--color-gm);
    border-color: var(--color-gm);
}

.btn-check:active+.btn-outline-gm,
.btn-check:checked+.btn-outline-gm,
.btn-outline-gm.active,
.btn-outline-gm:active,
.btn-outline-gm:hover {
    color: var(--color-bg);
    background-color: var(--color-gm);
    border-color: var(--color-gm);
}

.btn-outline-gsm {
    color: var(--color-gsm);
    border-color: var(--color-gsm);
}

.btn-check:active+.btn-outline-gsm,
.btn-check:checked+.btn-outline-gsm,
.btn-outline-gsm.active,
.btn-outline-gsm:active,
.btn-outline-gsm:hover {
    color: var(--color-bg);
    background-color: var(--color-gsm);
    border-color: var(--color-gsm);
}

/* ---------- SEARCH RESULT STYLES ---------- */

.chord-box {
    border: 1px solid var(--color-border);
    border-radius: 10px;
    color: var(--color-font);
    padding: 0.25em;
}

.chord-diagram {
    width: 75px;
}

.border-bottom {
    border-bottom: var(--color-font) 1px solid;
}

.rounded-light-border {
    border: 1px solid var(--color-border);
    border-radius: 10px;
}

.chord-icon {
    font-weight: bold;
    font-size: 1.5em;
    border-radius: .25rem;
    width: 75px;
}

.chord-icon-a {
    border: 2px solid var(--color-a);
    color: var(--color-a);
}

.chord-icon-as {
    border: 2px solid var(--color-as);
    color: var(--color-as);
}

.chord-icon-b {
    border: 2px solid var(--color-b);
    color: var(--color-b);
}

.chord-icon-c {
    border: 2px solid var(--color-c);
    color: var(--color-c);
}

.chord-icon-cs {
    border: 2px solid var(--color-cs);
    color: var(--color-cs);
}

.chord-icon-d {
    border: 2px solid var(--color-d);
    color: var(--color-d);
}

.chord-icon-ds {
    border: 2px solid var(--color-ds);
    color: var(--color-ds);
}

.chord-icon-e {
    border: 2px solid var(--color-e);
    color: var(--color-e);
}

.chord-icon-f {
    border: 2px solid var(--color-f);
    color: var(--color-f);
}

.chord-icon-fs {
    border: 2px solid var(--color-fs);
    color: var(--color-fs);
}

.chord-icon-g {
    border: 2px solid var(--color-g);
    color: var(--color-g);
}

.chord-icon-gs {
    border: 2px solid var(--color-gs);
    color: var(--color-gs);
}

.chord-icon-am {
    border: 2px solid var(--color-am);
    color: var(--color-am);
}

.chord-icon-asm {
    border: 2px solid var(--color-asm);
    color: var(--color-asm);
}

.chord-icon-bm {
    border: 2px solid var(--color-bm);
    color: var(--color-bm);
}

.chord-icon-cm {
    border: 2px solid var(--color-cm);
    color: var(--color-cm);
}

.chord-icon-csm {
    border: 2px solid var(--color-csm);
    color: var(--color-csm);
}

.chord-icon-dm {
    border: 2px solid var(--color-dm);
    color: var(--color-dm);
}

.chord-icon-dsm {
    border: 2px solid var(--color-dsm);
    color: var(--color-dsm);
}

.chord-icon-em {
    border: 2px solid var(--color-em);
    color: var(--color-em);
}

.chord-icon-fm {
    border: 2px solid var(--color-fm);
    color: var(--color-fm);
}

.chord-icon-fsm {
    border: 2px solid var(--color-fsm);
    color: var(--color-fsm);
}

.chord-icon-gm {
    border: 2px solid var(--color-gm);
    color: var(--color-gm);
}

.chord-icon-gsm {
    border: 2px solid var(--color-gsm);
    color: var(--color-gsm);
}

/* ---------- FAQ SECTION STYLES ---------- */

.accordion-button,
.accordion-button:not(.collapsed) {
    background-color: var(--color-bg-2);
    color: var(--color-font);
    font-weight: bold;
}

.accordion-button:focus {
    border-color: var(--color-border);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(200, 200, 200, .25);
}

.accordion-body {
    background-color: var(--color-bg-3);
    color: var(--color-font);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

/* ---------- FOOTER STYLES ---------- */

.cs-footer {
    background-color: var(--color-bg-2);
    border-top: 1px solid var(--color-border);
    color: var(--color-font);
}